body,
html {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --background: #25294a;
  --header: rgba(255, 255, 255, 0.65);
  --button-background: #2d325a;
  --highlight: #3958b8;
  --highlight-text: #fff;
  --link: #fff;
  --menu-background: #fff;
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: var(--header);
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 100;
}

h2 {
  background: var(--background);
  position: sticky;
  top: 0;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: var(--link);
  line-height: 1.4;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  overflow-x: hidden;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 786px) {
  .grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    height: 100vh;
  }

  .grid > div {
    height: calc(100vh - 2rem);
    overflow-y: scroll;
  }
}

.grid > div::-webkit-scrollbar {
  display: none;
}

.rss + .rss {
  margin-top: 1rem;
}

.menu {
  position: fixed;
  bottom: -4px;
  right: 0;
  left: 0;
  z-index: 99;
  width: calc(100% - 2rem);
  background: var(--menu-background);
  border-radius: 12px 12px 0 0;
  margin: 0 auto;
  box-shadow: 0px 20px 20px 6px #00000073, 0px 0px 0px 1px #ffffff21;
  padding-bottom: env(safe-area-inset-bottom);
}

@media (min-width: 768px) {
  .menu {
    border-radius: 0 0 12px 12px;
    bottom: auto;
    top: 0;
    width: auto;
    right: 1rem;
    left: auto;
    box-shadow: 0px -20px 20px 6px #00000073, 0px 0px 0px 1px #ffffff21;
    padding: 0;
  }
}

.cross {
  width: 30px;
  height: 30px;
  color: var(--link);
}

.cross {
  position: absolute;
  background: var(--background);
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.dropdown {
  display: none;
  position: relative;
}

.dropdown_open {
  display: block;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 0;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown button {
  color: var(--highlight-text);
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.comments svg {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.star svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.menu__items {
  display: flex;
  align-items: center;
}

.menu__items a,
.menu__items button {
  flex: 1;
  color: var(--link);
  opacity: 0.7;
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .menu__items a,
  .menu__items button {
    padding: 0.5rem;
  }
}

.menu__items a.link_active,
.menu__items button.link_active {
  opacity: 1;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.4));
}

.menu__items svg {
  width: 30px;
  height: 30px;
}

.padding_h {
  padding: 0 1rem;
}

.padding_v {
  padding: 1rem 0;
}
